*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #fff;
    font-family: GillSansforJL, Gill Sans, Gill Sans MT, GillSansMTStd-Medium, Avenir, Corbel, Arial, Helvetica,
        sans-serif;
    color: #141414;
    font-weight: 200;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 24px;
    font-weight: 200;
}
h2,
h3,
strong {
    font-weight: 200;
}
strong {
    color: #000;
}
