.title {
    text-align: center;
    padding: 0.7em 0.5rem;
    margin: 0;
    background-color: #fff;
}

@media screen and (min-width: 769px){
    .title {
        background-color: #f2f2f2;
    }
}
